@using HCMIS.SHARED.Models
@* <h3>BSCKPISSummaryPage</h3> *@

<div class="col-md-12" style="margin-top:5px;">
    <div class="row">
        <div class="col-md-12">
            <h6 style="color:ghostwhite; font-weight:bold;background-color:#00cc00;"> Department/Section Perspective Total Weights</h6>
        </div>

        <div class="col-md-3">
            <p style="color:#0c2461; font-weight:bold; font-size:larger;">
                Customer:
                @if (perspweightscustomer != null)
                {
                    @perspweightscustomer.WeightPercentage
                }
                else
                {
                    <h6 style="color:red;background-color:ghostwhite; font-weight:bold;">Not Captured</h6>
                }
            </p>
        </div>

        <div class="col-md-3">
            <p style="color:#0c2461; font-weight:bold; font-size:larger;">
                Financial:

                @if (perspweightsfinancial != null)
                {
                    @perspweightsfinancial.WeightPercentage
                }
                else
                {
                    <h6 style="color:red;background-color:ghostwhite; font-weight:bold;">Not Captured</h6>
                }
            </p>
        </div>

        <div class="col-md-3">
            <p style="color:#0c2461; font-weight:bold; font-size:larger;">
                Internal Processes:
                @if (perspweightsinternal != null)
                {
                    @perspweightsinternal.WeightPercentage
                }
                else
                {
                    <h6 style="color:red;background-color:ghostwhite; font-weight:bold;">Not Captured</h6>
                }
            </p>
        </div>

        

        <div class="col-md-3">
            <p style="color:#0c2461; font-weight:bold; font-size:larger;">
                Learning and Growth:
                @if (perspweightslearning != null)
                {
                    @perspweightslearning.WeightPercentage
                }
                else
                {
                    <h6 style="color:red;background-color:ghostwhite; font-weight:bold;">Not Captured</h6>
                }
            </p>
        </div>

    </div>
</div>

@code {

    [Parameter]
    public ViewABscPerspectivesDetail? perspweightsfinancial { get; set; }
    [Parameter]
    public ViewABscPerspectivesDetail? perspweightsinternal { get; set; }
    [Parameter]
    public ViewABscPerspectivesDetail? perspweightscustomer { get; set; }
    [Parameter]
    public ViewABscPerspectivesDetail? perspweightslearning { get; set; }
}
