@page "/SuccessfulRegistrationPage"
@inject ApiConfig _ApiConfig;
@inject HttpClient Http
@using HCMIS.Data
@using HCMIS.Model
@using System.Text.Json
@using System.Collections;
@using System.IO;
@using HCMIS.SHARED.Models;
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navigation;
@inject SystemSettings _SystemSettings;
@using HCMIS.ViewModel;
@inject IToastService toastService;

<style>
    body {
        margin: 0px;
        padding: 0px;
        background: url(/image/NHCC8.jpg );
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -68px;
        height: 100%;
        background-color: #000 !important;
        font-family: 'Roboto', 'Roboto Condensed' !important;
        width: 100%;
        overflow-x: hidden !important;
    }

    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        /*width:40%;*/
    }

    .page[b-rutikf73sn] {
        position: relative;
        display: block;
    }

    .center {
        border: 5px solid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }
</style>

@* <ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="color: brown;">
        <strong>
            <img src="/Image/logonhcc.png" width="40" height="25" /> NATIONAL HOUSING AND CONSTRUCTION COMPANY LIMITED
        </strong>
    </li>
</ol> *@

<div class="center">
    <h3 style="text-align:center;color: ghostwhite;">Congratulations</h3>

    <h6 style="text-align:center;color: ghostwhite;">Your account has been created successfully, Please log into your email address to activate your account.</h6>

    <center><button @onclick="@ApplyBtnclicked" class="btn btn-success" data-ripple="true">Click Here To Log In</button></center>
</div>

@code{
    public async Task ApplyBtnclicked()
    {
        try
        {
            navigation.NavigateTo("/LoginPage");
        }
        catch (Exception ex)
        {
            throw ex;
        }
        finally
        {

        }
    }
}