@page "/AccountManagementPage"

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="color: brown;">
        <strong>
            <img src="/Image/logonhcc.png" width="40" height="25" /> HCMIS
        </strong>| USER MANAGEMENT
    </li>
</ol>

<AuthorizeView Roles="Administrator,Super Administrator">
    <Authorized>
    <SfTab HeaderPlacement="HeaderPosition.Top" LoadOn="ContentLoad.Dynamic" OverflowMode="@OverflowMode.Scrollable" >
        <TabItems>            
            <TabItem>  
                <ChildContent>
                    <TabHeader Text="Register User"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <div style="margin:10px;">
                        <RegistrationPage/>
                    </div>
                </ContentTemplate>
            </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="User Roles"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <div style="margin:10px;">
                            <UserManagementPage/>
                        </div>
                    </ContentTemplate>
                </TabItem>
                <TabItem>  
                <ChildContent>
                    <TabHeader Text="Password Management"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <div style="margin:10px;">
                        <ChangeUserPasswordPage/>
                    </div>
                </ContentTemplate>
            </TabItem>
            </TabItems>
    </SfTab>
    </Authorized>
    <NotAuthorized>
        <p class="alert alert-danger" style="padding:10px;">You donto have the required permisions to access this module.</p>
    </NotAuthorized>
</AuthorizeView>
@code {

}
