@page "/JobOpeningsPage"
@using HCMIS.SHARED.Models
@using System.Text.Json
@inject HttpClient Http

@* Url to bootstrap card formats *@
@* https://ordinarycoders.com/blog/article/codepen-bootstrap-card-hovers *@

@if (EmployeeData != null)
{
    <div class="row e-card-layout" style="text-align:center;">
        @foreach (var data in EmployeeData)
        { 
            <div class="col-lg-3 col-md-3 col-sm-6"> 
                <SfCard> 
                    <CardHeader Title=@data.EmployeeDetails SubTitle=@data.DepartmentDescription />
                    <CardContent Content=@data.EmployeeDetails />
                </SfCard> 
            </div> 
        } 
    </div> 
}


@code {
    List<ViewEmployeeDropDown>? EmployeeData { get; set; }
    JsonSerializerOptions _options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            List<Task> t = new List<Task>();

            t.Add(Task.Run(async () =>
            {
                var responseemployee = await Http.GetAsync($"Utilities/GetEmployeeDD");
                if (responseemployee.IsSuccessStatusCode)
                {
                    var contentemployee = await responseemployee.Content.ReadAsStringAsync();
                    EmployeeData = JsonSerializer.Deserialize<List<ViewEmployeeDropDown>>(contentemployee, _options);
                }
            }));

            Task _t = Task.WhenAll(t);
            await _t;

        }
        catch(Exception ex)
        {
            throw ex;
        }

    }
}
