@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Grids
@using static HCMIS.Pages.EmployeeRegistration.EmployeeRegistrationNewPage;

<SfTextBox Placeholder="Type to search" ShowClearButton="true" Input="OnInput"></SfTextBox>

<span class="e-search-icon e-icons"></span>

@code{
    [CascadingParameter]
    public SfGrid<Employee> Grid { get; set; }
    public void OnInput(InputEventArgs Args)
    {
        Grid.SearchAsync(Args.Value);
    }
}