@page "/PrimaryData"
@using HCMIS.Pages.EmployeeDisplinary
@using HCMIS.Data
@using HCMIS.Model
@using System.Text.Json
@using HCMIS.ViewModel
@using System.Collections


<style>
    .e-popup.e-popup-open.e-dialog {
        min-width: 70%;
    }

    /*For Actual Application*/
    .e-edit-dialog {
        max-height: 80%;
        max-width: 80%;
        min-width: 80%;
        min-height: 80%;
    }

    /*My Accordions Styles*/

    /*Accordion Colors*/
    .e-accordion {
        border-radius: 6px 6px 6px 6px;
        border: none !important;
    }

        /* header custom css*/
        .e-accordion .e-acrdn-item .e-acrdn-header {
            background-color: rgb(0, 204, 0);
            border-radius: 6px 6px 6px 6px;
        }

            /*header on hover custom css*/
            .e-accordion .e-acrdn-item .e-acrdn-header:hover {
                background-color: rgb(0, 204, 0);
            }

        /*header on selected and expanded custom css*/
        .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header {
            background: rgb(0, 204, 0);
        }

        .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header {
            background: rgb(0, 204, 0);
        }

        .e-accordion .e-acrdn-item.e-expand-state.e-select:not(.e-selected) > .e-acrdn-header:focus {
            background: rgb(0, 204, 0);
        }

        /*content custom css*/
        .e-accordion .e-acrdn-item .e-acrdn-panel .e-acrdn-content {
            background-color: whitesmoke;
            border-radius: 6px 6px 6px 6px;
        }

        /*to remove the white line*/
        .e-accordion .e-acrdn-item.e-select {
            border-bottom: 1px solid white !important;
            border-top: 1px solid white !important;
        }
        /*to change the accordion header color*/
        .e-accordion .e-acrdn-item .e-acrdn-header .e-acrdn-header-content {
            color: darkred;
        }
    /*My Accordion Styles*/

</style>

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="color: brown;">
        <strong>
            <img src="/Image/logonhcc.png" width="40" height="25" /> HCMIS
        </strong>| Primary Data
    </li>
</ol>

<SfAccordion ExpandMode="@ExpandMode.Single">
    <AccordionItems>  
        <AccordionItem>
            <HeaderTemplate><strong>
                <div>Administrative Units (Districts,Subcounties,Parishes,Villages)</div>
            </strong></HeaderTemplate>
            <ContentTemplate>
                <div style="padding:10px;">
                    <SfTab Width="98%" Height="auto" ShowCloseButton="false" HeaderPlacement="HeaderPosition.Left" CssClass="default-tab">
                        <TabItems>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Districts"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="tab-content">
                                        <DistrictPage />
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Subcounties"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="tab-content">
                                        <SubcountyPage />
                                    </div>
                                </ContentTemplate>
                            </TabItem>

                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Parishes"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="tab-content">
                                        <ParishPage />
                                    </div>
                                </ContentTemplate>
                            </TabItem>

                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Villages"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="tab-content">
                                        <VillagePage />
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                </div>
            </ContentTemplate>
        </AccordionItem>
        <AccordionItem Expanded="false">
            <HeaderTemplate><strong>A - C</strong></HeaderTemplate>
            <ContentTemplate>
                <div style="padding:10px;">
                    <SfTab Width="98%" Height="auto" ShowCloseButton="false" HeaderPlacement="HeaderPosition.Left" CssClass="default-tab">
                        <TabItems>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Banks"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="tab-content">
                                        <BankPage />
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            @*<TabItem>
                                <ChildContent>
                                    <TabHeader Text="Public Holidays"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="tab-content">
                                        <PublicHolidaysPage />
                                    </div>
                                </ContentTemplate>
                            </TabItem>*@
                        </TabItems>
                    </SfTab>
                </div>
            </ContentTemplate>
        </AccordionItem>
        <AccordionItem Expanded="false">
            <HeaderTemplate><strong>D - F</strong></HeaderTemplate>
            <ContentTemplate>
                <div style="padding:10px;">
                <SfTab Width="98%" Height="auto" ShowCloseButton="false" HeaderPlacement="HeaderPosition.Left" CssClass="default-tab">
                    <TabItems>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Displinary Action"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                            <div class="tab-content">
                                <DisplinaryActionPage/>
                            </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Displinary Case Status"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                            <div class="tab-content">
                                 <DisplinaryCaseStatusPage />
                            </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Case Categories"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                            <div class="tab-content">
                                <DisplinaryCategoryPage />
                            </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Displinary Incidences"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                            <div class="tab-content">
                                <DisplinaryIncidencesPage />
                            </div>
                            </ContentTemplate>
                        </TabItem>
                    </TabItems>
                </SfTab>
                </div>
            </ContentTemplate>
        </AccordionItem>
        <AccordionItem Expanded="false">
            <HeaderTemplate><strong>G - I</strong></HeaderTemplate>
            <ContentTemplate>

            </ContentTemplate>
        </AccordionItem>
        <AccordionItem Expanded="false">
            <HeaderTemplate><strong>J - L</strong></HeaderTemplate>
            <ContentTemplate>

            </ContentTemplate>
        </AccordionItem>
        <AccordionItem Expanded="false">
            <HeaderTemplate><strong>M - O</strong></HeaderTemplate>
            <ContentTemplate>

            </ContentTemplate>
        </AccordionItem>
        <AccordionItem Expanded="false">
            <HeaderTemplate><strong>P - R</strong></HeaderTemplate>
            <ContentTemplate>
                <div style="padding:10px;">
                    <SfTab Width="98%" Height="auto" ShowCloseButton="false" HeaderPlacement="HeaderPosition.Left" CssClass="default-tab">
                        <TabItems>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Perspective Scores"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="tab-content">
                                        <BscPerspectivesPage />
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Public Holidays"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="tab-content">
                                        <PublicHolidaysPage />
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Relationship"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="tab-content">
                                        <RelationshipPage/>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            @*<TabItem>
                                <ChildContent>
                                    <TabHeader Text="Displinary Incidences"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="tab-content">
                                        <DisplinaryIncidencesPage />
                                    </div>
                                </ContentTemplate>
                            </TabItem>*@
                        </TabItems>
                    </SfTab>
                </div>
            </ContentTemplate>
        </AccordionItem>
        <AccordionItem Expanded="false">
            <HeaderTemplate><strong>S - U</strong></HeaderTemplate>
            <ContentTemplate>

            </ContentTemplate>
        </AccordionItem>
        <AccordionItem Expanded="false">
            <HeaderTemplate><strong>V - X</strong></HeaderTemplate>
            <ContentTemplate>

            </ContentTemplate>
        </AccordionItem>
        <AccordionItem Expanded="false">
            <HeaderTemplate><strong>Y - Z</strong></HeaderTemplate>
            <ContentTemplate>

            </ContentTemplate>
        </AccordionItem>
    </AccordionItems>
</SfAccordion>

@code {

}
