@page "/"
@using HCMIS.Interface;
@inject IAuthenticationService IAuthService;
@inject NavigationManager NavigationManager;

<style>
    .particles-js-canvas-el {
        display: none;
    }

    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid ghostwhite;
        padding: 10px;
        border-radius:10px;
        -moz-border-radius:10px;
    }

    html,
    body { height: 100vh;
    }

    .parent {
        height: 100vh;
        width: 100vw;
        background: #CCCCCC;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('image/nhcc1.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .child {
        background-color: ghostwhite;
        width: 40%;
        height: auto;
        padding: 2%;
        border-radius: 10px;
        -moz-border-radius: 10px;
        /*box-shadow: 0 8px 2px -2px gray;*/
        box-shadow: 10px 8px 5px -2px #888;
    }

/*    .child {
        background-color: ghostwhite;
        width: 40%;
        height: auto;
        padding: 2%;
        border-radius:10px;
        -moz-border-radius:10px;
        background-image: url('image/nhcc3.jpg');
        box-shadow: 10px 8px 5px -2px #888;
    }*/
    .e-input.e-success, .e-input.e-success:focus, .e-input-group.e-success input.e-input, .e-input-group.e-control-wrapper.e-success input.e-input, .e-input-group.e-success .e-input-group-icon, .e-input-group.e-control-wrapper.e-success .e-input-group-icon, .e-input-group.e-success textarea.e-input, .e-input-group.e-control-wrapper.e-success textarea.e-input {
            border-color: #22b24b;
            padding-left: 10px;
        }

    .e-menu-wrapper.e-inherit .e-menu, .e-menu-container.e-inherit .e-menu {
        background: inherit;
        width: 100%;
    }

    /*Change Background Color For Username and Password Fields*/
    .e-input-group.e-success, .e-input-group.e-control-wrapper.e-success, .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left) {
        border-color: #107c10;
        background-color: ghostwhite;
    }

       .e-input-eye:before { 
        content:'\e345'; 
        font-family: e-icons; 
        font-size: 13px; 
    } 

</style>

@*<PageTitle>Page loading....</PageTitle>*@


<style>
    .particles-js-canvas-el {
        display: none;
    }
</style>
<style>
    .particles-js-canvas-el {
        display: none;
    }
</style>
<PageTitle>Page Loading....</PageTitle>
<div class="loader">
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
    <div class="loader--dot"></div>
    <div class="loader--text"></div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            var result = await IAuthService.CheckAuthenticationStatus();
            if (result == false)
            {
                NavigationManager.NavigateTo("/LoginPage", true);
            }
            else
            {
                NavigationManager.NavigateTo("/DashboardPage", true);
            }
        }
        catch (Exception ex)
        {
            NavigationManager.NavigateTo("/LoginPage", true);
            //throw;
        }

    }
}