@page "/NavigationTestPage"

@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime

<p> When navigating to another page, an alert box will be displayed to indicate the navigation. </p>

@code {
    protected override void OnInitialized()
    {
        UriHelper.LocationChanged += DetectNavigation;
    }

    private void DetectNavigation(object sender, LocationChangedEventArgs e)
    {
        JSRuntime.InvokeVoidAsync("alert", "Navigation event is triggered");
    }
} 