@using HCMIS.Model
@using System.Text.Json
@inject ILocalStorageService localStore;
@inject HttpClient Http
@inject ApiConfig _ApiConfig;
@inject NavigationManager Navigation;
@inject AppState AppState;
@inject SystemSettings _SystemSettings

<div class="top-row pl-4 navbar navbar-dark">
    <div style="align-content=center">
        <a class="navbar-brand" href="" style="color:blue">
            <img id="profile-img" class="aligncenter" src="../img/MEACA-logoII.png" width="40" height="40" />
            Savings & Credit Group
        </a>
    </div>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
</div>
@*<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <div class="scroller">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="">
                    <span class="oi oi-home" aria-hidden="true"></span><h6>Home</h6>
                </NavLink>
            </li>
            <AuthorizeView Roles="Administrator">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" @onclick="() => expandSubMenu1 = !expandSubMenu1">
                        <span class="oi oi-clipboard" aria-hidden="true"></span><h6>Fundamentals</h6>
                    </NavLink>
                    @if (expandSubMenu1)
                    {
                        //expandTimeSubMenu = !expandSubMenu;
                        <ul class="nav flex-column">
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="MemberGrid">
                                    <span class="oi oi-person" aria-hidden="true"></span>Membership
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="PayMethodGrid">
                                    <span class="oi oi-credit-card" aria-hidden="true"></span>Payment Methods
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="ActivityPeriodGrid">
                                    <span class="oi oi-calendar" aria-hidden="true"></span> Calendar
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="Scheduler">
                                    <span class="oi oi-calendar" aria-hidden="true"></span> Scheduler
                                </NavLink>
                            </li>
                        </ul>
                    }
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" @onclick="() => expandSubMenu2 = !expandSubMenu2">

                        <span class="oi oi-account-login" aria-hidden="true"></span><h6>Inflows</h6>
                    </NavLink>
                    @if (expandSubMenu2)
                    {
                        //expandTimeSubMenu = !expandSubMenu;
                        <ul class="nav flex-column">
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="SubscriptionGrid">
                                    <span class="oi oi-euro" aria-hidden="true"></span>Subscription
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="SavingsGrid">
                                    <span class="oi oi-dollar" aria-hidden="true"></span>Savings
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="OtherInflowsGrid">
                                    <span class="oi oi-british-pound" aria-hidden="true"></span> Others
                                </NavLink>
                            </li>
                        </ul>
                    }
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" @onclick="() => expandSubMenu3 = !expandSubMenu3">

                        <span class="oi oi-account-logout" aria-hidden="true"></span><h6>Outflows</h6>
                    </NavLink>
                    @if (expandSubMenu3)
                    {
                        //expandTimeSubMenu = !expandSubMenu;
                        <ul class="nav flex-column">
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="AdminCostsGrid">
                                    <span class="oi oi-check" aria-hidden="true"></span>Admin Costs
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="MemberPayoutGrid">
                                    <span class="oi oi-yen" aria-hidden="true"></span>Cash Payouts
                                </NavLink>
                            </li>
                        </ul>
                    }
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" @onclick="() => expandSubMenu4 = !expandSubMenu4">

                        <span class="oi oi-calculator" aria-hidden="true"></span><h6>Loan Management</h6>
                    </NavLink>
                    @if (expandSubMenu4)
                    {
                        //expandTimeSubMenu = !expandSubMenu;
                        <ul class="nav flex-column">
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="LoanApplicationGrid">
                                    <span class="oi oi-clipboard" aria-hidden="true"></span>Application
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="LoanDisbursementGrid">
                                    <span class="oi oi-share-boxed" aria-hidden="true"></span>Disbursement
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="LoanRepaymentGrid">
                                    <span class="oi oi-spreadsheet" aria-hidden="true"></span> Repayment
                                </NavLink>
                            </li>
                        </ul>
                    }
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" @onclick="() => expandSubMenu9 = !expandSubMenu9">

                        <span class="oi oi-audio-spectrum" aria-hidden="true"></span><h6>User Management</h6>
                    </NavLink>
                    @if (expandSubMenu9)
                    {
                        //expandTimeSubMenu = !expandSubMenu;
                        <ul class="nav flex-column">

                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="/Account/Register">
                                    <span class="oi oi-person" aria-hidden="true"></span>Register User
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="/Account/ModifyUserRoles">
                                    <span class="oi oi-share-boxed" aria-hidden="true"></span>Change Role
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="/Account/ResetPassword">
                                    <span class="oi oi-paperclip" aria-hidden="true"></span>Reset Passwords
                                </NavLink>
                            </li>
                        </ul>
                    }
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" @onclick="() => expandSubMenu10 = !expandSubMenu10">

                        <span class="oi oi-account-login" aria-hidden="true"></span><h6>Notifications</h6>
                    </NavLink>
                    @if (expandSubMenu10)
                    {
                        //expandTimeSubMenu = !expandSubMenu;
                        <ul class="nav flex-column">

                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="/Notifications/LoanRepaymentNotification">
                                    <span class="oi oi-person" aria-hidden="true"></span>Loan Repayments
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="/Notifications/SavingsNotification">
                                    <span class="oi oi-basket" aria-hidden="true"></span>Monthly Savings
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="/Notifications/LoanApprovalNotification">
                                    <span class="oi oi-share-boxed" aria-hidden="true"></span>Loan Disbursement
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="/Notifications/LoanDefaultNotification">
                                    <span class="oi oi-share-boxed" aria-hidden="true"></span>Loan Default
                                </NavLink>
                            </li>
                        </ul>
                    }
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" @onclick="() => expandSubMenu5 = !expandSubMenu5">
                        <span class="oi oi-document" aria-hidden="true"></span><h6>Reports</h6>
                    </NavLink>
                    @if (expandSubMenu5)
                    {
                        <NavLink class="nav-link" href="" @onclick="() => expandSubMenu51 = !expandSubMenu51">

                            <span class="oi oi-caret-bottom" aria-hidden="true" style="color: deepskyblue"></span><h6 style="color: deepskyblue">Cash Inflows</h6>
                        </NavLink>
                        @if (expandSubMenu51)
                        {
                            <ul class="nav flex-column">
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Reports/MembershipReport">
                                        <span class="oi oi-person" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Subscription</h6>
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Reports/MonthlySavingsReport">
                                        <span class="oi oi-share-boxed" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Monthly Savings</h6>
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Reports/OtherInflowsReport">
                                        <span class="oi oi-basket" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Other Inflows</h6>
                                    </NavLink>
                                </li>
                            </ul>
                        }
                        <NavLink class="nav-link" href="" @onclick="() => expandSubMenu52 = !expandSubMenu52">

                            <span class="oi oi-caret-bottom" aria-hidden="true" style="color:deepskyblue"></span><h6 style="color:deepskyblue">Loans</h6>
                        </NavLink>
                        @if (expandSubMenu52)
                        {
                            <ul class="nav flex-column">
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Reports/LoanApp">
                                        <span class="oi oi-clipboard" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Applications</h6>
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Reports/LoanDisbursementsReport">
                                        <span class="oi oi-cloud-upload" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Disbursements</h6>
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Reports/LoanRepaymentsReport">
                                        <span class="oi oi-cloud-download" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Repayments</h6>
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Reports/LoanDefaultReport">
                                        <span class="oi oi-cloud-download" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Defaults</h6>
                                    </NavLink>
                                </li>
                            </ul>
                        }
                        <NavLink class="nav-link" href="" @onclick="() => expandSubMenu53 = !expandSubMenu53">

                            <span class="oi oi-caret-bottom" aria-hidden="true" style="color:deepskyblue"></span><h6 style="color:deepskyblue">Statements</h6>
                        </NavLink>
                        @if (expandSubMenu53)
                        {
                            <ul class="nav flex-column">
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Reports/MemberStatementReport">
                                        <span class="oi oi-clipboard" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Member Statement</h6>
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Reports/CashflowStatementReport">
                                        <span class="oi oi-cloud-upload" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Cash flow Statement</h6>
                                    </NavLink>
                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Reports/CashflowStatementSummaryReport">
                                        <span class="oi oi-cloud-upload" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Cash flow Summary Statement</h6>
                                    </NavLink>
                                </li>
                            </ul>
                        }
                    }
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" @onclick="() => expandSubMenu11 = !expandSubMenu11">

                        <span class="oi oi-account-logout" aria-hidden="true"></span><h6>Dashboards</h6>
                    </NavLink>
                    @if (expandSubMenu11)
                    {
                        //expandTimeSubMenu = !expandSubMenu;
                        <ul class="nav flex-column">
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="/Dashboards/InflowsDashboard">
                                    <span class="oi oi-check" aria-hidden="true"></span>Inflows Dashboard
                                </NavLink>
                            </li>
                        </ul>
                    }
                </li>
            </AuthorizeView>
            <AuthorizeView Roles="Viewer">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-caret-bottom" aria-hidden="true" style="color: deepskyblue"></span><h6 style="color: deepskyblue">Cash Inflows</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Reports/MembershipReport">
                        <span class="oi oi-person" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Subscription</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Reports/MonthlySavingsReport">
                        <span class="oi oi-share-boxed" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Monthly Savings</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Reports/OtherInflowsReport">
                        <span class="oi oi-basket" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Other Inflows</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-caret-bottom" aria-hidden="true" style="color:deepskyblue"></span><h6 style="color:deepskyblue">Loans</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Reports/LoanApplicationsReport">
                        <span class="oi oi-clipboard" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Applications</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Reports/LoanDisbursementsReport">
                        <span class="oi oi-cloud-upload" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Disbursements</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Reports/LoanRepaymentsReport">
                        <span class="oi oi-cloud-download" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Repayments</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Reports/LoanDefaultReport">
                        <span class="oi oi-cloud-download" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Defaults</h6>
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-caret-bottom" aria-hidden="true" style="color:deepskyblue"></span><h6 style="color:deepskyblue">Other Outflows</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Reports/LoanApplicationsReport">
                        <span class="oi oi-clipboard" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Applications</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Reports/LoanDisbursementsReport">
                        <span class="oi oi-cloud-upload" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Disbursements</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Reports/LoanRepaymentsReport">
                        <span class="oi oi-cloud-download" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Repayments</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-caret-bottom" aria-hidden="true" style="color: deepskyblue"></span><h6 style="color: deepskyblue">Statements</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Reports/MemberStatementReport">
                        <span class="oi oi-clipboard" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Member Statement</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Reports/CashflowStatementReport">
                        <span class="oi oi-cloud-upload" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Cash flow Statement</h6>
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Reports/CashflowStatementSummaryReport">
                        <span class="oi oi-cloud-upload" aria-hidden="true" style="color:burlywood"></span><h6 style="color:burlywood">Cash flow Summary Statement</h6>
                    </NavLink>
                </li>
            </AuthorizeView>
        </ul>
    </div>
</div>*@

<style>
    .scroller {
        height: calc(100vh - 160px) !important;
        overflow-y: auto;
        width: 287px;
    }

        .scroller::-webkit-scrollbar, scrollbar-thumb
        .scroller::-webkit-scrollbar-thumb {
            width: 8px;
            height: 110px;
            border-radius: 4px;
            position: center;
        }

        .scroller::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 0 10px #d9c355;
            border-radius: 4px;
        }

        .scroller::-webkit-scrollbar-track {
            width: 28px;
        }

    .separator {
        border: 1px solid #FFFFFF;
        opacity: 0.14;
        width: 280px;
        margin: 0rem;
        margin-top: 0px;
    }
</style>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubMenu1;
    private bool expandSubMenu2;
    private bool expandSubMenu3;
    private bool expandSubMenu4;
    private bool expandSubMenu5;
    private bool expandSubMenu6;
    private bool expandSubMenu7;
    private bool expandSubMenu8;
    private bool expandSubMenu9;
    private bool expandSubMenu10;
    private bool expandSubMenu11;
    private bool expandSubMenu12;
    private bool expandSubMenu13;
    private bool expandSubMenu14;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    //private bool collapseNavMenu = true;
    //string PreviousUrl { get; set; } = "Dashboard";

    //private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    //private void ToggleNavMenu()
    //{
    //    collapseNavMenu = !collapseNavMenu;
    //}
    //private void menuClicked(string url)
    //{
    //    PreviousUrl = url;
    //}
    //private async Task LoggoutClicked()
    //{
    //    await localStore.ClearAsync();
    //    AppState.LoggedIn = false;
    //    Navigation.NavigateTo("/");
    //}

    //protected override async Task OnInitializedAsync()
    //{
    //    
    //    if (!string.IsNullOrEmpty(Navigation.Uri.Split('/').LastOrDefault()))
    //    {
    //        string _nav = Navigation.Uri.Split('/').LastOrDefault().ToString();
    //        PreviousUrl = _nav;
    //    }

    //}
}
