@using HCMIS.Interface;

@using System.Text.Json;
@using HCMIS.Model;
@using HCMIS.SHARED.Data;
@using HCMIS.SHARED.Models;
@inject IAuthenticationService AuthService;
@inject HttpClient Http;
@*@inject IAuthenticationService AccountService;*@

<style>

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }

/*css for badges*/
/* https://codepen.io/ahmadmilzam/pen/QKEXaM - For circle */
.badge {
    background-color: green;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    font-size: small;
}
</style>

<MudDrawer @bind-Open="@SideBarOpen" Elevation="1" ClipMode="DrawerClipMode.Never" Style="margin-top:2px;">
    <MudDrawerHeader>
        <MudAvatar Color="Color.Transparent" Size="Size.Large">
            <ChildContent>
                <img src="/image/logonhcc.png" alt="Logo" style="width:85px; height:90px; margin-top:-2px;" />
            </ChildContent>
        </MudAvatar>
        <MudText Typo="Typo.h5" Color="Color.Primary" Style="margin: auto;background-color: lavenderblush;font-weight: bolder;">HCMIS</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        <MudNavLink Href="/DashboardPage" Match="NavLinkMatch.All" Icon="fa fa-tachometer">DASHBOARD</MudNavLink>
        @if (Credentials != null && SystemUsersData != null)
        {
            //Show for only Head of Departments
                var hoddetail = SystemUsersData.FirstOrDefault(o => (o.HoDemployeeId == Credentials.StaffId) 
                || o.SectionHeadId == Credentials.StaffId);

                if (Credentials.UserRole.Contains("SUPER ADMINISTRATOR", StringComparison.CurrentCultureIgnoreCase))
                {
                    <MudNavGroup Title="HR" Icon="fa fa-users" Expanded="false">
                    @* <MudNavLink Href="/fileupload" Icon="fa fa-indent">File Upload</MudNavLink> *@
                        <MudNavLink Href="/EmployeeRegistrationNewPage" Icon="fa fa-indent">EMPLOYEE REGISTRATION</MudNavLink>
                        <MudNavLink Href="/EmployeeExitsPage" Icon="fa fa-times-circle">SEPARATION OF SERVICE</MudNavLink>
                        <MudNavGroup Title="JOB POSTING" Icon="fa fa-hacker-news" Expanded="false">
                            <MudNavLink Href="/JobDescriptionPage" Icon="fa fa-sort-alpha-desc">JOB DESCRIPTION</MudNavLink>
                            <MudNavLink Href="/JobOpeningPage" Icon="fa fa-info">JOB OPENING</MudNavLink>
                        </MudNavGroup>
                        @* <MudNavLink Href="/OrganisationStructurePage" Icon="fa fa-hacker-news">JOB OPENINGS</MudNavLink> *@
                        <MudNavLink Href="/AptitudeTestPage" Icon="fa fa-pencil">APTITUDE TEST</MudNavLink>
                        <MudNavLink Href="/DisciplinaryPage" Icon="fa fa-eye">DISCIPLINARY</MudNavLink>
                        <MudNavLink Href="/AccountForMissedDaysPage" Icon="fa fa-minus-square">ACCOUNT FOR DAYS</MudNavLink>
                    </MudNavGroup>
                    <MudNavGroup Title="APPLICATION" Icon="fa fa-pencil-square" Expanded="false">
                        <MudNavLink Href="/SubmittedApplicationPage" Icon="fa fa-plus-circle">NEWLY SUBMITTED</MudNavLink>
                        <MudNavLink Href="/ReviewedApplicationsPage" Icon="fa fa-question-circle">REVIEWED APPLICATIONS</MudNavLink>
                        <MudNavLink Href="/InterviewApplicationPage" Icon="fa fa-question-circle">ORAL INTERVIEWS</MudNavLink>
                        <MudNavLink Href="/FinalApplicationAssessmentPage" Icon="fa fa-list-alt">FINAL REVIEW</MudNavLink>
                    </MudNavGroup>
                    <MudNavGroup Title="EMPLOYEE" Icon="fa fa-user" Expanded="false">
                        <MudNavGroup Title="PERFORMANCE APPRAISAL" Icon="fa fa-weibo" Expanded="false">                        
                            <MudNavLink Href="/BscPerspectivesFormPage" Icon="fa fa-free-code-camp">SET PERSPECTIVE TOTAL WEIGHT</MudNavLink>
                            <MudNavLink Href="/BSCKPIFormPage" Icon="fa fa-bullseye">SET TARGETS</MudNavLink>
                            <MudNavLink Href="/AppraisalFormPage" Icon="fa fa-street-view">APPRAISAL</MudNavLink>
                        </MudNavGroup>
                        <MudNavGroup Title="EMPLOYEE LEAVE" Icon="fa fa-university" Expanded="false">
                            <MudNavLink Href="/AnnualLeaveRosterPage" Icon="fa fa-calendar">ANNUAL LEAVE ROASTER</MudNavLink>
                            <MudNavLink Href="/EmployeeLeaveApplicationPage" Icon="fa fa-pencil-square-o">LEAVE REQUEST</MudNavLink>
                        </MudNavGroup>
                        <MudNavGroup Title="LEARNING AND DEVELOPMENT" Icon="fa fa-exchange" Expanded="false">
                            <MudNavLink Href="/AssessmentSurveyPage" Icon="fa fa-assistive-listening-systems">ASSESSMENT SURVEY</MudNavLink>
                            <MudNavLink Href="/CPDPage" Icon="fa fa-bandcamp">CPD</MudNavLink>
                            @*<MudNavGroup Title="CPD" Icon="fa fa-eercast" Expanded="false">
                                <MudNavLink Href="/CPDPage" Icon="fa fa-bandcamp-">CPD</MudNavLink>
                                <MudNavLink Href="/CPDSummaryPage" Icon="fa fa-bandcamp">CPD SUMMARY</MudNavLink>
                            </MudNavGroup>*@
                            <MudNavLink Href="/GeneralInternalPage" Icon="fa fa-certificate">TRAINING PLAN</MudNavLink>
                            @* <MudNavLink Href="/SubscriptionPage" Icon="fa fa-bolt">SUBSCRIPTION</MudNavLink> *@
                            <MudNavLink Href="/TrainingEvaluationFormPage" Icon="fa fa-bomb">TRAINING EVALUATION</MudNavLink>
                        </MudNavGroup>
                    </MudNavGroup>

                    <MudNavGroup Title="REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                        <MudNavGroup Title="APPRAISAL REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                                <MudNavLink Href="/AppraisalReportByDepartmentPage" Icon="fa fa-info-circle">APPRAISAL MANAGEMENT REPORT (DEPARTMENTAL)</MudNavLink>
                                <MudNavLink Href="/IndividualBalanceScoreCardReportPage" Icon="fa fa-life-ring">APPRAISAL REPORT (EMPLOYEE)</MudNavLink>
                        </MudNavGroup>

                        <MudNavGroup Title="EMPLOYEE REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                                <MudNavLink Href="/EmployeeDetailsReportPage" Icon="fa fa-info-circle">EMPLOYEE DETAILS REPORT</MudNavLink>
                                <MudNavLink Href="/EmployeeFamilyReportPage" Icon="fa fa-life-ring">EMPLOYEE FAMILY REPORT</MudNavLink>
                                <MudNavLink Href="/EmployeeQualificationsReportPage" Icon="fa fa-graduation-cap">EMPLOYEE QUALIFICATIONS REPORT</MudNavLink>
                        </MudNavGroup>

                        <MudNavGroup Title="LEAVE REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                                <MudNavLink Href="/AnnualLeaveRoasterReport" Icon="fa fa-life-ring">LEAVE ROASTER REPORT</MudNavLink>
                                <MudNavLink Href="/LeaveRequestReportPage" Icon="fa fa-info-circle">LEAVE REQUEST REPORT (EMPLOYEE)</MudNavLink>
                                <MudNavLink Href="/LeaveRecallReportPage" Icon="fa fa-asteris">LEAVE RECALL REPORT</MudNavLink>
                                <MudNavLink Href="/LeaveRequestReportByDepartmentPage" Icon="fa fa-info-circle">LEAVE MANAGEMENT REPORT (DEPARTMENTAL)</MudNavLink>
                         </MudNavGroup>

                         <MudNavGroup Title="TIME/ATTENDANCE REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                                <MudNavLink Href="/BiometricReportPage" Icon="fa fa-life-ring">BIOMETRIC REPORT</MudNavLink>
                                <MudNavLink Href="/AttendanceReportPage" Icon="fa fa-life-ring">ATTENDANCE REPORT</MudNavLink>
                         </MudNavGroup>
                    </MudNavGroup>

                    <MudNavGroup Title="UTILITIES" Icon="fa fa-cogs" Expanded="false">
                        <MudNavLink Href="/PrimaryDataPage" Icon="fa fa-database">PRIMARY DATA </MudNavLink>
                        <MudNavGroup Title="MANAGE USERS" Icon="fa fa-users" Expanded="false">
                            <MudNavLink Href="/AccountManagementPage" Icon="fa fa-user-plus">ACCOUNT MANAGEMENT</MudNavLink>
                        </MudNavGroup>

                    <MudNavLink Href="/LogInLogsPage" Icon="fa fa-sign-in">
                        <MudTooltip Text="No. of Logins" Color="Color.Tertiary" Placement="MudBlazor.Placement.Bottom" Arrow="true">
                            LOGINS TODAY <span class="badge">@dailylogins</span>
                        </MudTooltip>                        
                    </MudNavLink>
                    </MudNavGroup>
                }

                else if (Credentials.UserRole.Contains("ADMINISTRATOR", StringComparison.CurrentCultureIgnoreCase))
                {
                    <MudNavGroup Title="HR" Icon="fa fa-users" Expanded="false">
                        <MudNavLink Href="/EmployeeRegistrationNewPage" Icon="fa fa-indent">EMPLOYEE REGISTRATION</MudNavLink>
                        <MudNavLink Href="/EmployeeExitsPage" Icon="fa fa-times-circle">SEPARATION OF SERVICE</MudNavLink>
                        <MudNavGroup Title="JOB OPENINGS" Icon="fa fa-hacker-news" Expanded="false">
                            <MudNavLink Href="/JobDescriptionPage" Icon="fa fa-sort-alpha-desc">JOB DESCRIPTION</MudNavLink>
                            <MudNavLink Href="/JobOpeningPage" Icon="fa fa-info">JOB POSTING</MudNavLink>
                        </MudNavGroup>
                        <MudNavLink Href="/AptitudeTestPage" Icon="fa fa-pencil">APTITUDE TEST</MudNavLink>
                        <MudNavLink Href="/DisciplinaryPage" Icon="fa fa-eye">DISCIPLINARY</MudNavLink>
                        <MudNavLink Href="/AccountForMissedDaysPage" Icon="fa fa-minus-square">ACCOUNT FOR DAYS</MudNavLink>
                    </MudNavGroup>
                    <MudNavGroup Title="APPLICATION" Icon="fa fa-pencil-square" Expanded="false">
                        <MudNavLink Href="/SubmittedApplicationPage" Icon="fa fa-plus-circle">NEWLY SUBMITTED</MudNavLink>
                        <MudNavLink Href="/ReviewedApplicationsPage" Icon="fa fa-question-circle">REVIEWED APPLICATIONS</MudNavLink>
                        <MudNavLink Href="/InterviewApplicationPage" Icon="fa fa-question-circle">ORAL INTERVIEWS</MudNavLink>
                        <MudNavLink Href="/FinalApplicationAssessmentPage" Icon="fa fa-list-alt">FINAL REVIEW</MudNavLink>
                    </MudNavGroup>
                    <MudNavGroup Title="EMPLOYEE" Icon="fa fa-user" Expanded="false">
                        <MudNavGroup Title="PERFORMANCE APPRAISAL" Icon="fa fa-weibo" Expanded="false">
                            @if (hoddetail != null)
                            {
                                <MudNavLink Href="/BscPerspectivesFormPage" Icon="fa fa-free-code-camp">SET PERSPECTIVE TOTAL WEIGHT</MudNavLink>
                            }
                        
                            <MudNavLink Href="/BSCKPIFormPage" Icon="fa fa-bullseye">SET TARGETS</MudNavLink>
                            <MudNavLink Href="/AppraisalFormPage" Icon="fa fa-street-view">APPRAISAL</MudNavLink>
                        </MudNavGroup>
                        <MudNavGroup Title="EMPLOYEE LEAVE" Icon="fa fa-university" Expanded="false">
                            <MudNavLink Href="/AnnualLeaveRosterPage" Icon="fa fa-calendar">ANNUAL LEAVE ROASTER</MudNavLink>
                            <MudNavLink Href="/EmployeeLeaveApplicationPage" Icon="fa fa-pencil-square-o">LEAVE REQUEST</MudNavLink>
                            @*<MudNavLink Href="/EmployeeLeaveRequestPage" Icon="fa fa-pencil-square-o">LEAVE REQUEST</MudNavLink>*@
                        </MudNavGroup>
                        <MudNavGroup Title="LEARNING AND DEVELOPMENT" Icon="fa fa-exchange" Expanded="false">
                            <MudNavLink Href="/AssessmentSurveyPage" Icon="fa fa-assistive-listening-systems">ASSESSMENT SURVEY</MudNavLink>
                            <MudNavLink Href="/CPDPage" Icon="fa fa-bandcamp">CPD</MudNavLink>
                            @*<MudNavGroup Title="CPD" Icon="fa fa-eercast" Expanded="false">
                                <MudNavLink Href="/CPDPage" Icon="fa fa-bandcamp-">CPD</MudNavLink>
                                <MudNavLink Href="/CPDSummaryPage" Icon="fa fa-bandcamp">CPD SUMMARY</MudNavLink>
                            </MudNavGroup>*@
                            <MudNavLink Href="/GeneralInternalPage" Icon="fa fa-certificate">TRAINING PLAN</MudNavLink>
                            @* <MudNavLink Href="/SubscriptionPage" Icon="fa fa-bolt">SUBSCRIPTION</MudNavLink> *@
                            <MudNavLink Href="/TrainingEvaluationFormPage" Icon="fa fa-bomb">TRAINING EVALUATION</MudNavLink>
                        </MudNavGroup>
                    </MudNavGroup>

                    <MudNavGroup Title="REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                        <MudNavGroup Title="APPRAISAL REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                            <MudNavLink Href="/AppraisalReportByDepartmentPage" Icon="fa fa-info-circle">APPRAISAL MANAGEMENT REPORT (DEPARTMENTAL REPORT)</MudNavLink>
                            <MudNavLink Href="/IndividualBalanceScoreCardReportPage" Icon="fa fa-life-ring">APPRAISAL REPORT (EMPLOYEE REPORT)</MudNavLink>
                        </MudNavGroup>
                        <MudNavGroup Title="LEAVE REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                                <MudNavLink Href="/AnnualLeaveRoasterReport" Icon="fa fa-life-ring">LEAVE ROASTER REPORT</MudNavLink>
                                <MudNavLink Href="/LeaveRequestReportPage" Icon="fa fa-info-circle">LEAVE REQUEST REPORT (EMPLOYEE)</MudNavLink>
                                <MudNavLink Href="/LeaveRecallReportPage" Icon="fa fa-asteris">LEAVE RECALL REPORT</MudNavLink>
                                <MudNavLink Href="/LeaveRequestReportByDepartmentPage" Icon="fa fa-info-circle">LEAVE MANAGEMENT REPORT (DEPARTMENTAL)</MudNavLink>
                         </MudNavGroup>

                         <MudNavGroup Title="TIME/ATTENDANCE REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                                <MudNavLink Href="/BiometricReportPage" Icon="fa fa-life-ring">BIOMETRIC REPORT</MudNavLink>
                                <MudNavLink Href="/AttendanceReportPage" Icon="fa fa-life-ring">ATTENDANCE REPORT</MudNavLink>                        
                         </MudNavGroup>
                    </MudNavGroup>

                    <MudNavGroup Title="UTILITIES" Icon="fa fa-cogs" Expanded="false">
                        <MudNavLink Href="/PrimaryDataPage" Icon="fa fa-database">PRIMARY DATA </MudNavLink>
                        @*<MudNavGroup Title="MANAGE USERS" Icon="fa fa-users" Expanded="false">
                            <MudNavLink Href="/AccountManagementPage" Icon="fa fa-user-plus">ACCOUNT MANAGEMENT</MudNavLink>
                        </MudNavGroup>*@
                    </MudNavGroup>
                }

                else if (Credentials.UserRole.Contains("EDITOR", StringComparison.CurrentCultureIgnoreCase))
                {
                    <MudNavGroup Title="HR" Icon="fa fa-users" Expanded="false">
                        <MudNavLink Href="/EmployeeExitsPage" Icon="fa fa-times-circle">SEPARATION OF SERVICE</MudNavLink>
                        <MudNavLink Href="/DisciplinaryPage" Icon="fa fa-eye">DISCIPLINARY</MudNavLink>
                    </MudNavGroup>

                    <MudNavGroup Title="EMPLOYEE" Icon="fa fa-user" Expanded="false">
                        <MudNavGroup Title="PERFORMANCE APPRAISAL" Icon="fa fa-weibo" Expanded="false">
                            @if(hoddetail != null)
                            {
                                <MudNavLink Href="/BscPerspectivesFormPage" Icon="fa fa-free-code-camp">SET PERSPECTIVE TOTAL WEIGHT</MudNavLink>
                            }
                            <MudNavLink Href="/BSCKPIFormPage" Icon="fa fa-bullseye">SET TARGETS</MudNavLink>
                            <MudNavLink Href="/AppraisalFormPage" Icon="fa fa-street-view">APPRAISAL</MudNavLink>
                        </MudNavGroup>
                        <MudNavGroup Title="EMPLOYEE LEAVE" Icon="fa fa-university" Expanded="false">
                            <MudNavLink Href="/AnnualLeaveRosterPage" Icon="fa fa-calendar">ANNUAL LEAVE ROASTER</MudNavLink>
                            <MudNavLink Href="/EmployeeLeaveApplicationPage" Icon="fa fa-pencil-square-o">LEAVE REQUEST</MudNavLink>
                            @*<MudNavLink Href="/EmployeeLeaveRequestPage" Icon="fa fa-pencil-square-o">LEAVE REQUEST</MudNavLink>*@
                        </MudNavGroup>
                        <MudNavGroup Title="LEARNING AND DEVELOPMENT" Icon="fa fa-exchange" Expanded="false">
                            <MudNavLink Href="/AssessmentSurveyPage" Icon="fa fa-assistive-listening-systems">ASSESSMENT SURVEY</MudNavLink>
                            <MudNavLink Href="/CPDPage" Icon="fa fa-bandcamp">CPD</MudNavLink>
                            @*<MudNavGroup Title="CPD" Icon="fa fa-eercast" Expanded="false">
                                <MudNavLink Href="/CPDPage" Icon="fa fa-bandcamp-">CPD</MudNavLink>
                                <MudNavLink Href="/CPDSummaryPage" Icon="fa fa-bandcamp">CPD SUMMARY</MudNavLink>
                            </MudNavGroup>*@
                            <MudNavLink Href="/GeneralInternalPage" Icon="fa fa-certificate">TRAINING PLAN</MudNavLink>
                            @* <MudNavLink Href="/SubscriptionPage" Icon="fa fa-bolt">SUBSCRIPTION</MudNavLink> *@
                            <MudNavLink Href="/TrainingEvaluationFormPage" Icon="fa fa-bomb">TRAINING EVALUATION</MudNavLink>
                        </MudNavGroup>
                    </MudNavGroup>

                    <MudNavGroup Title="REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                        <MudNavGroup Title="APPRAISAL REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                            <MudNavLink Href="/IndividualBalanceScoreCardReportPage" Icon="fa fa-life-ring">APPRAISAL REPORT (EMPLOYEE)</MudNavLink>
                        </MudNavGroup>
                        <MudNavGroup Title="LEAVE REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                                <MudNavLink Href="/AnnualLeaveRoasterReport" Icon="fa fa-life-ring">LEAVE ROASTER REPORT</MudNavLink>
                                <MudNavLink Href="/LeaveRequestReportPage" Icon="fa fa-info-circle">LEAVE REQUEST REPORT (EMPLOYEE)</MudNavLink>
                                <MudNavLink Href="/LeaveRecallReportPage" Icon="fa fa-asteris">LEAVE RECALL REPORT</MudNavLink>
                        </MudNavGroup>
                    </MudNavGroup>
                
                }

                else if (Credentials.UserRole.Contains("OFFICER", StringComparison.CurrentCultureIgnoreCase))
                {
                    <MudNavGroup Title="HR" Icon="fa fa-users" Expanded="false">
                        <MudNavLink Href="/EmployeeExitsPage" Icon="fa fa-times-circle">SEPARATION OF SERVICE</MudNavLink>
                        <MudNavLink Href="/DisciplinaryPage" Icon="fa fa-eye">DISCIPLINARY</MudNavLink>
                    </MudNavGroup>

                    <MudNavGroup Title="EMPLOYEE" Icon="fa fa-user" Expanded="false">
                        <MudNavGroup Title="PERFORMANCE APPRAISAL" Icon="fa fa-weibo" Expanded="false">
                            @if (hoddetail != null)
                            {
                                <MudNavLink Href="/BscPerspectivesFormPage" Icon="fa fa-free-code-camp">SET PERSPECTIVE TOTAL WEIGHT</MudNavLink>
                            }
                            <MudNavLink Href="/BSCKPIFormPage" Icon="fa fa-bullseye">SET TARGETS</MudNavLink>
                            <MudNavLink Href="/AppraisalFormPage" Icon="fa fa-street-view">APPRAISAL</MudNavLink>
                        </MudNavGroup>
                        <MudNavGroup Title="EMPLOYEE LEAVE" Icon="fa fa-university" Expanded="false">
                            <MudNavLink Href="/AnnualLeaveRosterPage" Icon="fa fa-calendar">ANNUAL LEAVE ROASTER</MudNavLink>
                            <MudNavLink Href="/EmployeeLeaveApplicationPage" Icon="fa fa-pencil-square-o">LEAVE REQUEST</MudNavLink>
                            @*<MudNavLink Href="/EmployeeLeaveRequestPage" Icon="fa fa-pencil-square-o">LEAVE REQUEST</MudNavLink>*@
                        </MudNavGroup>
                        <MudNavGroup Title="LEARNING AND DEVELOPMENT" Icon="fa fa-exchange" Expanded="false">
                            <MudNavLink Href="/AssessmentSurveyPage" Icon="fa fa-assistive-listening-systems">ASSESSMENT SURVEY</MudNavLink>
                            <MudNavLink Href="/CPDPage" Icon="fa fa-bandcamp">CPD</MudNavLink>
                            @*<MudNavGroup Title="CPD" Icon="fa fa-eercast" Expanded="false">
                                <MudNavLink Href="/CPDPage" Icon="fa fa-bandcamp-">CPD</MudNavLink>
                                <MudNavLink Href="/CPDSummaryPage" Icon="fa fa-bandcamp">CPD SUMMARY</MudNavLink>
                            </MudNavGroup>*@
                            @*<MudNavLink Href="/GeneralInternalPage" Icon="fa fa-certificate">TRAINING PLAN</MudNavLink>
                            <MudNavLink Href="/SubscriptionPage" Icon="fa fa-bolt">SUBSCRIPTION</MudNavLink>*@
                            <MudNavLink Href="/TrainingEvaluationFormPage" Icon="fa fa-bomb">TRAINING EVALUATION</MudNavLink>
                        </MudNavGroup>
                    </MudNavGroup>

                    <MudNavGroup Title="REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                        <MudNavGroup Title="APPRAISAL REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                            <MudNavLink Href="/IndividualBalanceScoreCardReportPage" Icon="fa fa-life-ring">APPRAISAL REPORT (EMPLOYEE)</MudNavLink>
                        </MudNavGroup>
                        <MudNavGroup Title="LEAVE REPORTS" Icon="fa fa-file-excel-o" Expanded="false">
                                <MudNavLink Href="/AnnualLeaveRoasterReport" Icon="fa fa-life-ring">LEAVE ROASTER REPORT</MudNavLink>
                                <MudNavLink Href="/LeaveRequestReportPage" Icon="fa fa-info-circle">LEAVE REQUEST REPORT (EMPLOYEE)</MudNavLink>
                                <MudNavLink Href="/LeaveRecallReportPage" Icon="fa fa-asteris">LEAVE RECALL REPORT</MudNavLink>
                        </MudNavGroup>
                    </MudNavGroup>
                }

                else if (Credentials.UserRole.Contains("NON-STAFF", StringComparison.CurrentCultureIgnoreCase))
                {
                    <MudNavLink Href="/NonStaffProfilePage" Match="NavLinkMatch.All" Icon="fa fa-user-md">EMPLOYEE PROFILE</MudNavLink>

                    <MudNavGroup Title="JOBS" Icon="fa fa-user-md" Expanded="false">
                    <MudNavLink Href="/AvailableJobsPage" Icon="fa fa-info-circle">AVAILABLE JOBS</MudNavLink>
                    <MudNavLink Href="/MyApplicationsPage" Icon="fa fa-street-view">MY APPLICATIONS</MudNavLink>
                    </MudNavGroup>
                }

            @*<MudNavGroup Title="@Credentials.AccountHolderName.ToUpper()" Icon="fa fa-user" Expanded="false">
                <MudNavLink Href="/ChangePasswordPage" Icon="fa fa-key">CHANGE PASSWORD</MudNavLink>
            </MudNavGroup>*@
        }
    </MudNavMenu>
</MudDrawer>

@code {
    [Parameter]
    public bool SideBarOpen { get; set; } 
    LoginResultModel? Credentials { get; set; }

    List<ADepartment>? DepartmentsData { get; set; }
    List<ViewUserManagement>? SystemUsersData { get; set; }
    List<ALoginLog>? LoginLogData { get; set; }

    int dailylogins = 0;

    protected async override void OnInitialized()
    {
        await base.OnInitializedAsync();
        Credentials = await AuthService.GetUserCredentials();
        JsonSerializerOptions _options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };

        List<Task> t = new List<Task>();
        t.Add(Task.Run(async () =>
        {
            var responsedepartment = await Http.GetAsync($"Utilities/GetDepartment");
            if (responsedepartment.IsSuccessStatusCode)
            {
                var contentdepartment = await responsedepartment.Content.ReadAsStringAsync();
                DepartmentsData = JsonSerializer.Deserialize<List<ADepartment>>(contentdepartment, _options);
            }
        }));

        t.Add(Task.Run(async () =>
        {
            var response = await Http.GetAsync($"Utilities/GetLoginLog");
            if (response.IsSuccessStatusCode)
            {
                var content = await response.Content.ReadAsStringAsync();
                LoginLogData = JsonSerializer.Deserialize<List<ALoginLog>>(content, _options);
                dailylogins = LoginLogData.Where(o => o.LoginDate.Value.ToString("dd/MM/yyyy") == DateTime.Now.ToString("dd/MM/yyyy")).Count();
            }
        }));

        t.Add(Task.Run(async () =>
        {
            SystemUsersData = await AuthService.GetSystemUsers();
        }));

        Task _t = Task.WhenAll(t);
        await _t;
    }
}
