@*<h3>PageLoader</h3>*@
<SfDialog @ref="@LoadingDialogue" ID="LoadingDialog" Height="auto" Width="30%" AllowDragging="true" Target=".page"
          ShowCloseIcon="false" IsModal=true Visible=true>
    <DialogTemplates>
        <Content>
            <div style="padding:25px">
                @if (ShowSaving)
                {
                    <div class="loader">
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader-Saving-text"></div>
                    </div>
                }
                else if (ShowLoading)
                {
                    <div class="loader">
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--dot"></div>
                        <div class="loader--text"></div>
                    </div>
                }
            </div>
        </Content>
        <FooterTemplate>

        </FooterTemplate>
    </DialogTemplates>
</SfDialog>


@code {
    public SfDialog? LoadingDialogue;
    [Parameter]
    public bool ShowSaving { get; set; }
    [Parameter]
    public bool ShowLoading { get; set; }
}
