/*.floating-update-button[b-7e8vccsr0j] {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: 1rem 1.5rem;
    animation: fadein-b-7e8vccsr0j 2s ease-out;*/
    /*height: 60px !important;
    margin-top: 200px !important;*/
/*}*/

.floating-update-button[b-7e8vccsr0j] {
    position: fixed;
    top: 70px;
    margin-left: -600px;
    width: 95%;
}

@keyframes fadein {
    from {
        right: -100%;
    }

    to {
        right: 2rem;
    }
}
