@using HCMIS.SHARED.Models;
@*<h3>ApplicationCommentPartialPage</h3>*@
@if (AppliedForJobsCommentData != null && AppliedForJobsCommentData.Count > 0)
{
    <div class="row">
        @foreach (var n in AppliedForJobsCommentData)
        {
            <div class="col-md-12">
                <p>@n.CommentDesc</p>
                <p style="color:darkolivegreen;">@n.CommentedBy <b>|</b> @n.CommentDate.Value.ToString("dd,MMMM,yyyy HH:mm:ss")</p>
                <hr />
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public List<AppliedForJobsComment>? AppliedForJobsCommentData { get; set; }
}
